/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--main-background-color);
  background-image: var(--page-background-image);
  background-size: cover;
  background-attachment: fixed;

  font-family: var(--main-font-family);
  font-variation-settings: "wght"var(--normal-font-weight);
  font-size: var(--normal-font-weight);
  color: var(--text-color);
}

.decorate-block {
  background-color: var(--main-background-color);
  border: 2px solid;
}

.header {
  max-inline-size: 696px;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--accent-font-family);
  margin: 102px auto 100px;
  display: grid;
  justify-content: center;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  ;
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-block-end: 20px;
}

.a-logo {
  text-decoration: none;
}

.a-logo:hover {
  opacity: 0.6;
  transition: 1s ease;
}

.a-logo:focus {
  outline: none;
}

.a-logo:focus-visible {
  outline: none;
  text-decoration: underline;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-block: 23px;
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: grid;
  gap: 10px;
  padding-inline-start: 20px;
  justify-items: start;
  width: max-content;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button:focus-visible::after {
  outline: none;
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
  inset-block-start: 0px;
}

.card__list {
  font-family: var(--main-font-family);
  font-size: var(---font-family);
  display: grid;
  grid-template-columns: repeat(1, minmax(375px, 700px));
  justify-content: center;
  gap: 51px;
}

.card__title {
  margin: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght"var(--large-font-weight, 700);
}

.card__img-conteiner {
  position: relative;
  border-block-start: 2px solid var(--text-color);
  border-block-end: 2px solid var(--text-color);
}

.img-label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: 0 0 3px var(--main-background-color);
  inset-inline-end: 25px;
  inset-block-start: 28px;
  mix-blend-mode: hard-light;
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__text {
  display: grid;
  gap: 25px;
  margin: 22px 25px 25px;
  font-size: 18px;
}

.like_button-conteiner {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 25px;
  max-height: 38px;
}

.card__icon-button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--text-color);
  padding: 10px 36px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: inherit;
  background: var(--main-background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--text-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-save-memory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}

.button__text,
.button__icon {
  color: var(--text-color-animation);
  mix-blend-mode: difference;
}

.button__icon {
  block-size: 22px;
  inline-size: 22px;
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  outline: 2px solid var(--text-color);
  outline-offset: -1px;
}

.save-memory-container {
  display: flex;
  justify-content: center;
  padding: 48px 0 100px;
}

.modal {
  border: 2px solid var(--text-color);
  padding: 25px 30px;
  color: var(--text-color);
  font-family: var(--accent-font-family);
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--main-background-color);
  max-inline-size: 355px;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal::backdrop {
  opacity: 0.75;
  background: #000;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  inline-size: 100%;
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-sepia {
  filter: sepia(60%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-multiple {
  filter: sepia(60%) blur(5px) invert(1%);
}

@media (width < 376px) {
  .card__list {
    gap: 50px;
  }

  .modal {
    padding: 28px 34px 28px 40px;
    max-inline-size: 340px;
  }

  .button-save-memory {
    flex-direction: column;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }

  .save-memory-container {
    padding: 55px 0 100px;
  }
}