/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --main-background-color: #fff;
  --page-background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --normal-font-weight: 400;
  --large-font-weight: 700;
  --text-color: #000;
  --text-color-animation: #fff;
}

:root.theme-dark {
  --main-background-color: #000;
  --acecnt-background-color: ;
  --page-background-image: repeating-linear-gradient(
      to left,
      #000000 0 2px,
      #00000000 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000000 0 2px, #00000000 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);

  --normal-font-weight: 465;
  --large-font-weight: 785;
  --text-color: #00cc14;
  --text-color-animation: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: #000;
    --acecnt-background-color: ;
    --page-background-image: repeating-linear-gradient(
        to left,
        #000000 0 2px,
        #00000000 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000000 0 2px, #00000000 2px 4px),
      linear-gradient(to bottom, #007f0c, #004306);

    --normal-font-weight: 465;
    --large-font-weight: 785;
    --text-color: #00cc14;
    --text-color-animation: #00cc14;
  }
}
