:root {
    --main-font-family: "Inter", sans-serif;
    --accent-font-family: "PressStart2P", fantasy;
    --text-color: #000;
    --normal-font-weight: 400;

    --main-background-color: #fff;
    --page-background-image: repeating-linear-gradient(to left,
            #d3d3d3 0 2px,
            #d3d3d300 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}